mat-drawer, mat-drawer-content { padding: 1rem }
mat-drawer-content { margin: 1rem }
mat-drawer-container {
  max-width: 1440px;
  margin-inline: auto;
  background-color: white;
}

.product-list {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  grid-template-columns: auto auto auto auto auto;
}

.product-filtering {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem; padding-inline: .25rem;

  span { font-size: 18px; margin-right: 1rem;}
  button { font-size: 18px }
}

.loadmore {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  button {
    font-size: 16px;
  }
}

swiper-container {
  margin-inline: 3rem;

  swiper-slide {
    padding-top: 1rem;
    // background: #000;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      height: 500px;
      border-radius: 12px;
      
      cursor: pointer;
      transition: scale 150ms ease-in-out;
      &:hover { scale: 1.0075 }
    }

  }
}

.slider-wrapper { position: relative }

.slider-info {
  position: absolute;
  left: 2%; bottom: 5%;
  width: 500px;
  padding-inline: 1rem; padding-top: 0.25rem;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(5px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 2px solid white; border-radius: 7px;
  text-align: start;

  h2 { font-size: 23px; font-weight: 500;}  
}


h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 3rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .product-list { grid-template-columns: auto auto auto }

  swiper-container {
    swiper-slide {
      img { height: 350px }

      .slider-info { left: 3% }
    }
  }
}

@media (max-width: 800px) {
  h1 { font-size: 35px; letter-spacing: 2px; line-height: 2.5rem; }

  swiper-container {
    swiper-slide {
      img { height: 260px }
    }
  }

  .product-list { grid-template-columns: auto auto }
  .product-filtering { grid-template-columns: max-content; gap: 1rem; }
}

// Small Devices
@media (max-width: 500px) {
  .product-list { grid-template-columns: auto }

  swiper-container {
    margin-inline: 0.5rem;
    swiper-slide { img { height: 200px } }

    .slider-info {
      left: 27.5% !important; width: 37.5%;

      h2 { font-size: 16px; font-weight: 500; margin-bottom: 0.25rem;}
      p { font-size: 12px; line-height: 0.85rem; }
    }
  }
}
