mat-card-actions { gap: 0.5rem }
mat-card-content {
  padding-top: 0.75rem;

  h2 {
    margin-bottom: 0.25rem;
  }

  span {
    font-weight: 500;
    font-size: 19px;
  }
}

mat-icon:hover {
  cursor: pointer;
  scale: 1.085;
}

mat-card:hover {
  cursor: pointer;
  scale: 1.01;

  h2, p { color: var(--mat-badge-background-color); }
}

img {
  $padding: 8px;
  height: 175px;
  padding: $padding;
  padding-bottom: 0;
  object-fit: contain;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  margin-inline: auto;
  max-width: 250px;
}